.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
   
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-logo p {
    color: rgb(19, 16, 16);
    font-size: 30px;
    font-weight: 500;
  }
  

  .nav-menu li {
    display: inline-block ;
    cursor: pointer;
    padding: 5px 10px; 
    font-size: 20px;
    color: rgb(14, 12, 12);
  }

.nav-login-cart{
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}
.nav-login-cart button{
    width: 130px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(240, 205, 205);
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color: antiquewhite;
} 

.nav-counter{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;

}